@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na MPN Flights!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Rezervišite kartu", "Index", "Flights")</h3>
</div>

<br />

<div class="text-center">
    <h3>@Html.ActionLink("Za zaposlene u avio-kompanijama", "Admin", "Flights")</h3>
</div>